
@{
    ViewData["Title"] = "Index";
}

<h3>@ViewBag.Message</h3>
<p>There are @ViewBag.ProductCount products in the list.</p>

<h5>Product List</h5>
<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Price</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var item in ViewBag.Products)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Name</td>
                <td>@item.Price</td>
            </tr>
        }
    </tbody>
</table>